@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
	font-family: 'Noto Sans KR';
}
.card-header{
	border-bottom:1px solid #EEEEEE;
	padding:15px;
}
.p-5{
	padding:5px;
}
.text-tag{
	margin-left:5px;
}
.collection-title{
	color:#777;
}
.collection-item.avatar{
	padding:15px;
}
.logo{
	margin-left:20px;
}
.input-field input[type=search]{
	height:64px;
}
.hover:hover{
	cursor:pointer;
}
header, article, footer{
	    padding-left: 300px;
	}

@media only screen and (max-width: 992px){
	header, article, footer{
	    padding-left: 0;
	}
}
.board-red{
	border:1px solid #e57373;
}
.selectedComment{
	border:2px solid #81c784;
}
.selectedboard{
	border-left:2px solid #81c784;
}
.commentedBoard{
	border-left:2px solid #4fc3f7;
}